server:
  port: 8081
spring:
  application:
    name: user-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
    sentinel:
      transport:
        dashboard: localhost:18080
  datasource:
    url: jdbc:mysql://localhost:3306/cshp?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.cshp.user.entity
  configuration:
    map-underscore-to-camel-case: true

jwt:
  secret: cshp-secret-key-for-jwt-token-generation-2024
  expiration: 86400000

