server:
  port: 8084

spring:
  application:
    name: search-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
    sentinel:
      transport:
        dashboard: localhost:18080

feign:
  sentinel:
    enabled: true

